body{
    text-align: center;
}

h1{
    font-style:italic;
    font-weight: bold;
}

nav li{
    display:inline;
    background-color: skyblue;
    padding: 10px;
}

section li{
    display: block;
}